# Pandas package can be referred to as pd

In [3]:
import pandas as pd

mydataset = {
  'cars': ["BENZ", "BMW", "RR"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

   cars  passings
0  BENZ         3
1   BMW         7
2    RR         2

# Access a specified value

In [4]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar[1])

7

# Own label

In [8]:
import pandas as pd

a = [10, 20, 30]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    10
y    20
z    30
dtype: int64

# Create a Series using only data from "day1" and "day2":

In [10]:


import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

# DataFrame from two Series

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

# CSV

In [15]:
import pandas as pd

df = pd.read_csv('color.csv')

print(df.to_string())

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

# Head of 3

In [17]:
import pandas as pd

df = pd.read_csv('color.csv')

print(df.head(3))

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray  #808080     rgb(50,50,50)

# Tail of 3

In [18]:
import pandas as pd

df = pd.read_csv('color.csv')

print(df.tail(3))

       Name      HEX             RGB
13     Navy  #000080     rgb(0,0,50)
14  Fuchsia  #FF00FF  rgb(100,0,100)
15   Purple  #800080    rgb(50,0,50)

# Load a Python Dictionary into a DataFrame

In [1]:
import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

# CLEANING

In [4]:
import pandas as pd

df = pd.read_csv('color.csv')

new_df = df.dropna()

print(new_df.to_string())

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

# Read CSV File

In [26]:
import pandas as pd

df = pd.read_csv('details.csv')

print(df)

   name     age f/m
0  jibin   23.0   m
1  allen   20.0   m
2    anu   20.0   f
3   abin   25.0   m
4   raju   23.0   m
5   arya   24.0   f
6    abu   22.0   m
7   aswi   23.0   f
8   jaan  238.0   5
9   jani    NaN   f

# Remove empty rows

In [28]:
import pandas as pd

df = pd.read_csv('details.csv')

new_df = df.dropna()

print(new_df.to_string())

   name     age f/m
0  jibin   23.0   m
1  allen   20.0   m
2    anu   20.0   f
3   abin   25.0   m
4   raju   23.0   m
5   arya   24.0   f
6    abu   22.0   m
7   aswi   23.0   f
8   jaan  238.0   5

# Remove null values from original dataframe

In [34]:
import pandas as pd

df = pd.read_csv('details.csv')

df.dropna(inplace = True)

print(df.to_string())

   name     age f/m
0  jibin   23.0   m
1  allen   20.0   m
2    anu   20.0   f
3   abin   25.0   m
4   raju   23.0   m
5   arya   24.0   f
6    abu   22.0   m
7   aswi   23.0   f
8   jaan  238.0   5

# Replace null values with the number 20

In [41]:
import pandas as pd

df = pd.read_csv('details.csv')

df.fillna(20, inplace = True)
print(df.to_string())

   name     age f/m
0  jibin   23.0   m
1  allen   20.0   m
2    anu   20.0   f
3   abin   25.0   m
4   raju   23.0   m
5   arya   24.0   f
6    abu   22.0   m
7   aswi   23.0   f
8   jaan  238.0   5
9   jani   20.0   f

# Replace null values in the column "age" with 20

In [44]:
import pandas as pd

df = pd.read_csv('details.csv')

df["age"].fillna(20, inplace = True)
print(df.to_string())

   name     age f/m
0  jibin   23.0   m
1  allen   20.0   m
2    anu   20.0   f
3   abin   25.0   m
4   raju   23.0   m
5   arya   24.0   f
6    abu   22.0   m
7   aswi   23.0   f
8   jaan  238.0   5
9   jani   20.0   f